.list {
  display: flex;
  gap: 90px;
}
.button {
  background-color: cadetblue;
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 10px;
}
.text {
  font-size: 30px;
  color: cadetblue;
}
